body {
    margin: 0;
    background-color: #18244d;
    text-align: center;
}
h3 {
    font-size: 24px;
    color: #ffffff;
}
.counter-box {
    background-color: #0a0001;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bitcount", system-ui;
    font-size: 80px;
    margin-bottom: 20px;
}
.counter-box p {
    color: #F94F6D;
    margin: ;
}
.container {
    display: flex;
    justify-content: space-around;
}
.buttons-box button {
    background-color: #18244d;
    border: 1px solid #9AABD8;
    color: #9AABD8;
    padding: 5px 8px;
}
.reset-button {
    margin-bottom: 20px;
}
.reset-button button{
        width: 120px;
        background-color: #9AABD8;
        border: 1px solid #9AABD8;
        margin-top: 20px;
        padding: 5px 8px;
}
